<?xml version="1.0" encoding="UTF-8"?>
<gui name="stundenplaner" version="1">

<MenuBar>
  <Menu name="file">
          <Action name="schuljahr_waehlen" />
          <Action name="change_database" />
          <Action name="dump_database" />
          <Action name="read_database" />
	  <Action name="noch eine" />
	  <Action name="add_fzm"/>
  </Menu>
  <Menu name="eigenes">
          <text> "Tools" </text>
          <Action name="change_database" />
          <Action name="fehlzeitmeldung" />
	  <Action name="read_db" />
          <Action name="add_objectview" />
          <Action name="add_stundenplaneintrag" />
          <Action name="check_dm" />
          <Action name="create_am" />
  </Menu>
</MenuBar>
<ToolBar name="mainToolBar" fullWidth="false" newline="false">
        <Action name="change_database" />
        <Action name="add_objectview" />
</ToolBar>
</gui>

